body {
    font-family: 'East Sea Dokdo', cursive;
    font-size: -webkit-xxx-large;
    text-shadow: 0 0 11px white;
}

button {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    font-family: 'East Sea Dokdo', cursive;
    font-size: -webkit-xxx-large;
    background: none;
    border: none;
    margin: 1px;
    text-shadow: 0 0 11px white;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.rowheader {
    color: black;
}